<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
    <link rel="stylesheet" href="/static/login.css" />
    <title>MLSTUDIO</title>

    <link rel="icon" href="/static/img/ML.png" type="image/png" />
  </head>

  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/forgot-password" method="post" class="sign-in-form">
            <h2 class="title">Forgot Password</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="email" name="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="pass"
                name="new_password"
                placeholder="Password"
              />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="repass"
                name="password"
                placeholder="cofirm Password"
              />
            </div>
            {%if exist%}
            <p style="color: red">{{exist}}</p>
            <br /><br />
            {%endif%}
            <div style="color: red" id="error"></div>
            <input
              type="submit"
              value="submit"
              onclick="validate()"
              class="btn solid"
            />
          </form>
        </div>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Forgot Your pasword?</h3>
          <p>
            Discover the path to resetting your password. Sign up and become a
            part of the ML Studio community.
          </p>
          <a href="login">
            <button class="btn transparent" id="sign-up-btn">Log in</button
            ><br /><br
          /></a>
          <a href="index"
            ><button type="submit" class="btn transparent" id="sign-up-btn">
              Home
            </button></a
          >
        </div>
      </div>
    </div>

    <script>
      function validate() {
        var password = document
          .getElementById("pass")
          .getElementsByTagName("input")[0].value;
        var confirmPassword = document
          .getElementById("repass")
          .getElementsByTagName("input")[0].value;

        if (password !== confirmPassword) {
          document.getElementById("error").innerHTML = "Passwords do not match";
          return false;
        } else if (password.length < 8) {
          document.getElementById("error").innerHTML =
            "Password must be at least 8 characters long";
          return false;
        } else {
          document.getElementById("error").innerHTML = "";
          return true;
        }
      }
    </script>
  </body>
</html>
