
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/style.css"/>
  <link rel="stylesheet" href="/static/footer.css"/>
</head>
<body>

<section id="hero" >
  <!-- Header -->
  <header>
      <div class="container">
       <div id="navbar">
                     <nav>
               <ul>
                 <li class="active"><a href="index.html">Home</a></li>
                 <li class="active"><a href="login">Login</a></li>
                 <li><a href="#">About</a></li>
               </ul>
             </nav>
           </div>
           </div>
   </header>

      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  <h1 class="jumbo">ML <br>STUDIO</h1>

                  <p>Our platform provides  ML models , empowering developers with a code-free, time-saving solution for streamlined model development and increased productivity.</p>
                
                <a href="login" class="btn btn-primary mr-sm"><i class="fa-solid fa-download" target="_blank"></i> &nbsp; &nbsp; Get Strated  &nbsp; &nbsp;</a></div>

              <div class="col-sm-6">
                  <div id="main-img" class="hero-img" alt="">
                    <img src="\static\img\main.png">
                  </div>
              </div>
          </div>
      </div>
  </section>

  
  <section id="intro">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
               
                  <h2>Making Coding Free <br>to Bulid ML Models</h2>

                  <p>Making user-friendly platform no-code  directly into the platform can empower users to create machine learning models effortlessly. To  create a dynamic and inclusive environment that empowers users to explore  machine learning Algorithms without extensive coding expertise. </p>
             
                  <div class="accordion">
                      <div class="a-container">
                        <p class="a-btn">Preprocessing</p>
                      </div>
                      <div class="a-container">
                        <p class="a-btn">Model Training</p>
                      </div>
                      <div class="a-container">
                        <p class="a-btn">Accuracy</p>
                        
                      </div>
                    </div>
             
              </div>

              <div class="col-sm-6">
                  <img src="\static\img\img3.avif" class="img-right"  alt="">
                  </div>
              </div>
          </div>
  </section>

  <section id="features">
      <div class="container">
          <div class="row">
              

              <div class="col-sm-6">
                  <img src="\static\img\img2.jpg" class="img-left" alt="">
                  </div>

                  <div class="col-sm-6">
                      <h2>Building Models with Best Accuracy</h2>
  
                      <p>
                        Building machine learning models with the highest possible accuracy and Bulid with best possibilities.
                       </p>
                 
                  </div>
              </div>
          </div>
  </section>


  

  <!-- Footer -->

  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-3">
                  <h3>Company</h3>

                  <ul>
                      <li>
                      <a href="#">About</a>
                      </li>
                      <li>
                      <a href="#">Careers</a>
                      </li>
                      <li>
                      <a href="#">Brand Center</a>
                      </li>
                      <li>
                      <a href="#">Blog</a>
                      </li>
                      </ul>
              </div>
              <div class="col-sm-3">
                  <h3>Help Center</h3>

                  <ul>
                      <li>
                      <a href="#">Discord Server</a>
                      </li>
                      <li>
                      <a href="#">Twitter</a>
                      </li>
                      <li>
                      <a href="#">Facebook</a>
                      </li>
                      <li>
                      <a href="#">Contact</a>
                      </li>
                      </ul>
              </div>
              <div class="col-sm-3">
                  <h3>Legal</h3>

                  <ul>
                      <li>
                      <a href="#">Privacy Policy</a>
                      </li>
                      <li>
                      <a href="#">Licensing</a>
                      </li>
                      <li>
                      <a href="#">Terms</a>
                      </li>
                      </ul>
              </div>
              <div class="col-sm-3">

                <h2 style="color: white;">ML STUDIO</h2>
               
                

                  <p><small>©ML STUDIO™. All Rights Reserved.</small></p>
              </div>
          </div>
      </div>
  </footer>
    
</body>
</html>